{% extends 'base.html' %}
<!-- essas chaves e porcentagens é usado para nos conectar com os padrões do base.html
Dessa forma so temos a necessidade de fazer as mudanças realmente necessárias
evitando ter muito códico repetido. assim só mudamos o que realmente diferencia
um html de outro, economizando codico, tempo e esforços -->
{% load static %}

{% block title %}
DELETANDO POSTAGENS
{% endblock title %}
    
{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock scripts %}

{% block body %}
<center>
<h3> Deletar postagem</h3>
<form method="post">
    {% csrf_token %}
    <p>Tem certeza de que quer apagar esse post?</p>
    {{post.post}}
    <br><br>
    <button type="submit" class="btn btn-danger">Deletar</button>

</form>
</center>

{% endblock body %}


