{% extends 'base.html' %}
<!-- essas chaves e porcentagens é usado para nos conectar com os padrões do base.html
Dessa forma so temos a necessidade de fazer as mudanças realmente necessárias
evitando ter muito códico repetido. assim só mudamos o que realmente diferencia
um html de outro, economizando codico, tempo e esforços -->
{% load static %}
{% load widget_tweaks %}

{% block title %}
EDITANDO POSTAGENS
{% endblock title %}
    
{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock scripts %}

{% block body %}
<center>
<h3> Modificar Postagem</h3>
<form class="editarEcriar" method="post">

    {% csrf_token %}
    Título:{% render_field form.titulo %}
    Autor:{% render_field form.autor %}
    Categoria:{% render_field form.categorias %}
    Texto:{% render_field form.texto %}
    <br><br>
    <button type="submit" class="btn btn-info">Confirmar</button>

</form>
</center>

{% endblock body %}


