{% extends 'base.html' %}
<!-- essas chaves e porcentagens é usado para nos conectar com os padrões do base.html
Dessa forma so temos a necessidade de fazer as mudanças realmente necessárias
evitando ter muito códico repetido. assim só mudamos o que realmente diferencia
um html de outro, economizando codico, tempo e esforços -->
{% load static %}

{% block title %}
CATEGORIZANDO
{% endblock title %}

{% block style %}
<style>

</style>
{% endblock style %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock scripts %}

{% block body %}

<div class="todosospostes">
    {% for u in categorias %}
    <div class="info">
        <center>{{u.categorias}}<br><br></center>
        
            <a class = "links" href="{% url 'categorias:edit_categorias' u.id %}">Editar</a>
            <a class = "links" href="{% url 'categorias:delet_categorias' u.id %}">Deletar</a>
    </div>

    {% empty %}
</div> <!--esse empty é tipo 'caso nao'.. tipo um else da vida-->
    <p>Você não tem uma categoria</p>
    <a href="{% url 'categorias:criar_categorias' %}">Criar uma categoria</a>
    {% endfor %}


{% endblock body %}