{% extends 'base.html' %}
<!-- essas chaves e porcentagens é usado para nos conectar com os padrões do base.html
Dessa forma so temos a necessidade de fazer as mudanças realmente necessárias
evitando ter muito códico repetido. assim só mudamos o que realmente diferencia
um html de outro, economizando codico, tempo e esforços -->
{% load static %}

{% block title %}
HOME
{% endblock title %}

{% block style %}
{% endblock style %}


{% block scripts %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock scripts %}

{% block body %}
<div class="entrada">
    <center>
        <h1>
            BEM VINDO
        </h1>
        <br>
        <h4>
            ao blog dos usuários
        </h4>

    </center>
</div>

{% for u in posts %}

{% endfor %}

{% endblock body %}