.navbaar{
    border: 1px solid black;
    background-color: rgb(224, 18, 18) !important;
}

.menu{
    
    display: flex;
    justify-content: center ;
}
.menu ul{
    
    display: flex;
    justify-content: space-between ;
    list-style: none; /*tira os pontos da lista desordenada*/
    width: 80%;
}


.menu ul li a{
    color: black;
}

.menu ul li a:hover{ 
    /* comando 'hover' é quando passa o mause por cima */
    color: blueviolet;
}

.info{
    border: 7px inset rgba(39, 135, 199, 0.623);
    width: 320px;
    margin: 5px;
    background-color: rgba(208, 255, 239, 0.384);
}

.butamareloevermelho{
    color: white;
    text-decoration: none !important; /*remove hyperlink css*/

}

.butneutro{
    color: black;
    text-decoration: none !important; /*remove hyperlink css*/

}

.todosospostes{
    display: flex;
    flex-flow: row wrap;

}
.infoEmcima{
    display: flex;
    flex-direction: column;
    margin: 5px;

}
.todoslinks{
    display: flex;
    justify-content: space-between ;
    margin: 3px;


}
.entrada{
    margin-top: 20vh;
}
.editarEcriar{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}
body{
    background-image: url(https://blog.emania.com.br/content/uploads/2017/06/Tela-do-Windows-XP.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: monospace!important;
}

@media only screen and (max-width: 800px){
    body{
        background-image: url('fundo2.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        font-family: monospace!important;

    } 
}