{% extends 'base.html' %}
<!-- essas chaves e porcentagens é usado para nos conectar com os padrões do base.html
Dessa forma so temos a necessidade de fazer as mudanças realmente necessárias
evitando ter muito códico repetido. assim só mudamos o que realmente diferencia
um html de outro, economizando codico, tempo e esforços -->
{% load static %}

{% block title %}
COMENTARIOS
{% endblock title %}

{% block style %}
<style>

</style>
{% endblock style %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock scripts %}

{% block body %}
<div class="todosospostes">
    {% for u in comentarios %}
    <div class="info">
        <div class="infoEmcima">
            Post: {{u.post}}<br><br>
            Comentário:<br>{{u.comentario}}<br><br>


        </div>
        <div class="todoslinks">
            <button type="button" class="btn btn-warning">
                <a class="butamareloevermelho"
                    href="{% url 'comentarios:editar_comentarios' u.id %}">Editar</a></button>

            <button type="button" class="btn btn-danger">
                <a class="butamareloevermelho"
                    href="{% url 'comentarios:delet_comentarios' u.id %}">Deletar</a></button>

        </div>
    </div>


{% empty %}
</div>

<!--esse empty é tipo 'caso nao'.. tipo um else da vida-->
<p>Esse poste não tem comentarios</p>
{% endfor %}


{% endblock body %}