{% extends 'base.html' %}
<!-- essas chaves e porcentagens é usado para nos conectar com os padrões do base.html
Dessa forma so temos a necessidade de fazer as mudanças realmente necessárias
evitando ter muito códico repetido. assim só mudamos o que realmente diferencia
um html de outro, economizando codico, tempo e esforços -->
{% load static %}

{% block title %}
Sobre Usuário
{% endblock title %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock scripts %}

{% block body %}
<div class="todosospostes">


<div class="info">
    <p> Usuário: {{users.username}} </p>
    <p> Email: {{users.email}} </p>
    <p> Criado em: {{users.created_at}} </p>
    <p> Último acesso: {{users.last_login}} </p>
    <p> É superuser: {{users.is_staff}} </p>
</div>
</div>

{% endblock body %}